<a routerLink=""><button type="button">Voltar</button></a>
<div *ngFor="let item of data">
  <h1>Dados da Fazenda</h1>
  <h2>{{ item.name }}</h2>
  <p>ID: {{ item.id }}</p>
  <p>Nome: {{ item.name }}</p>
  <p>Município: {{ item.municipality }}</p>
  <p>Estado: {{ item.state }}</p>
  <p>Área: {{ item.area }}</p>
  <p>Ativa: {{ item.is_active }}</p>
  <h2>Datas</h2>
  <p>Data de Criação: {{ item.creation_date }}</p>
  <p>Última Modificação: {{ item.last_modification_date }}</p>
  <h2>Dados do Proprietário</h2>
  <p>ID: {{ item.owner.id }}</p>
  <p>Nome: {{ item.owner.name }}</p>
  <p>Documento: {{ item.owner.document }}</p>
  <p>Tipo de Documento: {{ item.owner.document_type }}</p>
  <div [ngClass]="'actionButtons'">
    <button [ngClass]="'exclude'" (click)="delete()">Excluir</button>
    <button [routerLink]="['/farm/detail/update/', item.id]">Editar</button>
  </div>
</div>
