form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}
form > div > button {
  width: 100%;
}

.registerButton {
  background: #0b0d0d;
  color: #fff;
  border: 2px solid #0b0d0d;
  &:hover {
    background: #212529;
    color: #fff;
    border: 2px solid #212529;
  }
}
